name: Pull Request Check

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      
      - name: Run Unit tests
        run: bundle exec fastlane tests
        env:
          API_BASE_URL: ${{ vars.API_BASE_URL }}

      - name: Run Danger
        run: bundle exec danger --verbose=true
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
